$(".reply").one('ajax:success', function(){
  var $commentForm = $(this).parents('.table:first').find('.comment-form:first');
  $commentForm.html("<td></td> \
    <td><%= j(render 'comments/form') %></td>");
});